min/*
node_modules/*

# Now Whitelist:

node_modules/jquery/dist/*
!node_modules/jquery/dist/jquery.min.js

node_modules/three/build/*
!node_modules/three/build/three.min.js

node_modules/three/examples/js/controls/*
!node_modules/three/examples/js/controls/OrbitControls.js

node_modules/lodash/*
!node_modules/lodash/lodash.min.js

node_modules/stats.js/build/*
!node_modules/stats.js/build/stats.min.js

node_modules/strftime/*
!node_modules/strftime/strftime-min.js

node_modules/three/examples/js/effects/*
!node_modules/three/examples/js/effects/StereoEffect.js

node_modules/three/examples/js/controls/*
!node_modules/three/examples/js/controls/DeviceOrientationControls.js
